div.container-footer 
    div.foot-div  
        button#abrir1.abrir-menu1
            img(src="./img/list.svg" alt="menu")
            //-i.bi.bi-list
        img(src="./img/nocito_logo1-transparente.svg" alt="Logo Nocito")
    nav#id-nav1.nav1 
        ul.nav-list1 
            li: a(href="index.pug") inicio
            li: a(href="categorias.pug") categorías 
            li: a(href="historia.pug") historia de Nocito 
            li: a(href="sentidos.pug") con los sentidos 
            li: a(href="eventos.pug") eventos Sierra de Guara 
            li: a(href="presentacion.pug") presentacion 
            li: a(href="enlaces.pug") enlaces
        button#cerrar1.cerrar-menu1 
            img(src="./img/x_menu.svg" alt="menu")
            //-i.bi.bi-x 
    div.dynamic-footer 
        ul.redes 
            li: a(href="#" title="X"): img(src="./img/X.svg" alt="X")
            li: a(href="#" title="Instagram"): img(src="./img/instagram.svg" alt="instagram")
            li: a(href="#" title="YouTube"): img(src="./img/youtube.svg" alt="youtube")
        ul.legales 
            li: a(href="#") Política de privacidad
            li: a(href="#") Política de cookies
            li: a(href="#") Aviso legal
        