//-div.container-head
img.logo(src="./img/nocito_logo1-transparente.svg" alt="Logo Nocito")
div.titulo  
    h1 Descubre Nocito en la sierra de Guara
button#abrir.abrir-menu
    i.bi.bi-list
nav#id-nav.nav
    button#cerrar.cerrar-menu 
        i.bi.bi-x 
    ul.nav-list 
        li: a(href="presentacion.pug") presentación
        li: a(href="enlaces.pug") enlaces
        li: a(href="index.pug") inicio
    
